* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
}

.first-container {
    width: 100%;
    height: 35rem;
    overflow: hidden;
    position: relative;
}

.main-img {
    position: relative;
    min-width: 120%;
    height: 100%;
    top: 0px;
    object-fit: cover;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    flex-direction: column;
    padding: 2rem;
    gap: 6rem;
    /* colors */
    background-color: rgb(255, 255, 255);
}

.h1p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h1p p {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.third-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 80%;
    height: 6rem;
}

.profile img {
    border-radius: 50%;
    width: 5rem;
}

.profile h2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.share-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 6rem;
    overflow: visible;
}

.share-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20rem;
    height: 5rem;
    background-color: #49556b;
    color: white;
    position: relative;
    bottom: 6rem;
    right: 8rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
}

.share-popup::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: .8rem;
    border-style: solid;
    border-color: #49556b transparent transparent transparent;
}

.share-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0 1rem;
    size: 4rem;
}

.share-popup.hidden {
    display: none;
}

.share-popup.p {
    font-size: 300px;
}

.btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    position:;
}

.btn img {
    object-fit: contain;
    width: 2rem;
    height: 2rem;
}